{erl_opts, [debug_info, warnings_as_errors]}.

{deps, []}.

{project_plugins, [
    erlfmt,
    rebar3_lint,
    rebar3_hank,
    rebar3_ex_doc,
    rebar3_audit,
    {rebar3_sbom,
        {git, "https://github.com/Taure/rebar3_sbom.git", {branch, "feat/include-otp-components"}}},
    rebar3_mutate
]}.

{erlfmt, [write]}.

{hank, [
    {ignore, [
        "src/nova_cache_adapter.erl",
        "src/nova_cache_invalidator.erl",
        "test/**"
    ]}
]}.

{xref_ignores, [
    {opentelemetry_api, '_', '_'},
    {otel_tracer, '_', '_'},
    {otel_span, '_', '_'},
    {otel_counter, '_', '_'},
    {nova_cache, get, 2},
    {nova_cache, get, 3},
    {nova_cache, put, 3},
    {nova_cache, put, 4},
    {nova_cache, fetch, 3},
    {nova_cache, fetch, 4},
    {nova_cache, delete, 2},
    {nova_cache, delete_many, 2},
    {nova_cache, invalidate, 2},
    {nova_cache, clear, 1},
    {nova_cache_registry, start_link, 0},
    {nova_cache_registry, list, 0},
    {nova_cache_sup, start_cache, 2},
    {nova_cache_sup, stop_cache, 1}
]}.

{dialyzer, [
    {warnings, [error_handling, unmatched_returns]},
    {exclude_mods, []}
]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => <<"Overview">>}},
        {"guides/getting-started.md", #{title => <<"Getting Started">>}},
        {"guides/adapters.md", #{title => <<"Adapters">>}},
        {"guides/invalidation.md", #{title => <<"Invalidation">>}},
        {"guides/telemetry.md", #{title => <<"Telemetry">>}}
    ]},
    {main, <<"readme">>},
    {source_url, <<"https://github.com/novaframework/nova_cache">>},
    {groups_for_modules, [
        {<<"Core API">>, [nova_cache]},
        {<<"Behaviours">>, [nova_cache_adapter, nova_cache_invalidator]},
        {<<"Adapters">>, [nova_cache_ets]},
        {<<"Invalidation">>, [nova_cache_invalidator_pg]},
        {<<"Internal">>, [nova_cache_registry, nova_cache_single_flight]}
    ]}
]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [{meck, "~> 0.9"}]}
    ]}
]}.
